@font-face{
    font-family:'digital-clock-font';
    src:url('../fonts/digital-7.ttf');
}

#table{
   padding-top: 25px;
   padding-left: 20px;
}

.new_number{
    margin-top: -80px;
    font-size: 20rem;
    color: black;
    text-shadow: 10px 10px 20px gray;
    margin-bottom: -45px;
}

.last_5{
    color: black;
    font-weight: 600;
}

.count_down{
    font-family: digital-clock-font;
    font-size: 3rem;
    color: red;  
}

.show{
    display: block;
}

.hide{
    display: none;
}

.show_inline{
    display: inline;
}

.rounded-corners{
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 50px;
    border:1px solid black;
    display: inline;
    margin-left: 10px;
    padding: 10px;
    font-weight: bold;
    background-image: radial-gradient(circle, white 30%, #009F00 60%);
    box-shadow: 5px 5px 5px gray;
}

.cells{
    padding-top: 10px;
}

.picked{
    background-image: radial-gradient(circle, white 30%, rgb(255, 0, 0) 60%);
}

.reset_number_colors{
    background-color: green;
}

.dance_button{
    margin-left: 20px;
}

.game_card{
    margin-top: 10px;
    width: 25rem;
}

.game_in_play{
    font-size: 1.5rem;
}

.game_over{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 90%;
}

.top_image {
    position: absolute;
	animation-name: fade_4_corner;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 8s;
	animation-direction: alternate;
}

@keyframes fade_4_corner {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@media all and (display-mode: fullscreen) {
    .new_number{
        font-size: 25rem;
    }
    .rounded-corners{
        font-size: 1.5rem;
    }
}