.cue_button{
    background-color:#39ff14;
    color: black;
}

.replay_button{
    background-color:yellow;
    color: black;
} 

.dance_button{
    background-color:red;
    animation: flash 2s infinite;
}
@keyframes flash{
    50%{
        background-color: darkred;
    }
}

#options{
    margin-bottom: 10px;
}

.audio_video_controls{
    padding-left: 25px;
}

.options_button{
    margin-left: 25px;
}

.audio_video_options{
    padding-left: 25px;
}